@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#151515;
    --color-secundario:#F0F0f0;
    --color-terciario:#37B7C3;
    --color-hover:#272727;

    --fuente-monserrat: "Moserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;

}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color:var(--color-secundario);
    box-sizing: border-box;
}

.Header{
padding: 2% 0% 0% 15%;
}

.Header__Menu{
    display: flex;
    gap: 80px;
}

.Header__Menu__Link{
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--color-terciario);
    text-decoration: none;
}

.Presentacion{
    display: flex;
    align-items: center;
    padding: 7% 6%;
    justify-content: space-between;
    gap: 82px;
    
}

.Presentacion__Contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.Presentacion__Contenido__Titulo{
    font-size: 2.25rem;
    font-family:var(--fuente-krona);
}

.Titulo-Negrita{
    color:var(--color-terciario);
}

.Presentacion__Contenido__Texto {
    font-size: 1.5rem;
    font-family:var(--fuente-monserrat);
    text-decoration: none;
    
}

.Presentacion__Contenido__Texto__Link{
    text-decoration: none;
    color: var(--color-terciario);
}


.Presentacion__Enlace{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.Presentacion__Enlace_Subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;


}

.Presentacion__Enlace_Link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color:var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.Presentacion__Enlace_Link:hover{
    cursor: pointer;
    background-color:var(--color-hover);
}

.Presentacion__Imagen{
    width: 50%;
}

.Footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

.Header{
    padding: 10%;
}

.Header__Menu{
    justify-content: center;
}

.Presentacion{
    flex-direction: column-reverse;
    padding: 5%;
}

.Presentacion__Contenido{
    width: auto;
}


}